.popular-items .image-gallery-content .image-gallery-slide {
  width: 100%;
  height: 368px;
}

.popular-items .image-gallery-content .image-gallery-slides {
  border-radius: 6px;
}

.popular-items
  .image-gallery-content
  .image-gallery-slide
  .image-gallery-image {
  max-height: none;
  max-width: none;
  width: 100%;
  min-height: 286px;
  object-fit: cover;
}

.popular-items .image-gallery-slide .image-gallery-description {
  top: 0;
  display: flex;

  width: 100%;
  height: 100%;

  padding: 0;
}

.popular-items .image-gallery-bullets {
  bottom: -31px;

  .image-gallery-bullet {
    padding: 4px;
    margin: 5px 10px;
    border: 3px solid transparent;
    background-color: #ffffff99;

    &.active {
      border: 3px solid #ffffff;
      background-color: transparent;

      &:hover,
      &:focus {
        background-color: #ffffff;
      }
    }

    &:hover,
    &:focus {
      border: 3px solid #ffffff;
      background-color: #ffffff;
    }
  }
}

.popular-items.dark-bullets .image-gallery-bullets {
  .image-gallery-bullet {
    padding: 4px;
    margin: 5px 10px;
    border: 3px solid transparent;
    background-color: RGBA(38, 42, 50, 0.5);

    &.active {
      border: 3px solid RGBA(38, 42, 50, 1);
      background-color: transparent;
    }

    &:hover,
    &:focus {
      border: 3px solid RGBA(38, 42, 50, 1);
      background-color: transparent;
    }
  }
}
