.product-details.image-gallery {
  margin-bottom: 48px;

  @media screen and (min-width: 1280px) {
    width: 685px;
    margin-bottom: 0;
  }
}

.product-details .image-gallery-bullets {
  bottom: -115px;

  .image-gallery-bullet {
    padding: 4px;
    margin: 5px 10px;
    border: 3px solid transparent;
    background-color: RGBA(38, 42, 50, 0.5);

    &.active {
      border: 3px solid RGBA(38, 42, 50, 1);
      background-color: transparent;
    }

    &:hover,
    &:focus {
      border: 3px solid RGBA(38, 42, 50, 1);
      background-color: transparent;
    }
  }
}

.product-details .image-gallery-thumbnail {
  border-color: #999999;
  border-radius: 4px;

  &.active {
    border-color: #84bc22;
  }
}

.product-details .image-gallery-icon.image-gallery-fullscreen-button {
  bottom: 90%;
  right: 90%;

  &:hover,
  &:focus {
    color: #84bc22;
  }
}
