@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?fh48qp');
  src: url('../fonts/icomoon.eot?fh48qp#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?fh48qp') format('truetype'),
    url('../fonts/icomoon.woff?fh48qp') format('woff'),
    url('../fonts/icomoon.svg?fh48qp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart-red:before {
  content: '\e90e';
  color: #e73c68;
}
.icon-caret-down:before {
  content: '\e901';
}
.icon-arrow:before {
  content: '\e902';
}
.icon-search:before {
  content: '\e907';
}
.icon-eye:before {
  content: '\e90c';
}
.icon-plus:before {
  content: '\e900';
  color: #23c46e;
}
.icon-heart:before {
  content: '\e904';
}
.icon-user:before {
  content: '\e905';
}
.icon-bag:before {
  content: '\e906';
}
.icon-pinterest:before {
  content: '\e908';
}
.icon-twitter:before {
  content: '\e909';
}
.icon-facebook:before {
  content: '\e90a';
}
.icon-google:before {
  content: '\e90b';
}
.icon-x-close:before {
  content: '\e903';
}
.icon-drop-closed:before {
  content: '\e90d';
}
