@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import '~react-image-gallery/styles/scss/image-gallery.scss';
@import './styles/common/base';
@import './styles/common/icons';
@import './styles/libraries/image-gallery';
@import './styles/libraries/popular-items-gallery';
@import './styles/libraries/featured-swiper';
@import './styles/libraries/product-details';
@import './styles/libraries/toastify-notification';
